/* https://fonts.google.com/specimen/Rubik */
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400&display=swap');

/*  colorhunt palette https://colorhunt.co/palette/ffa45bffda77fbf6f0aee6e6 */
:root {
    --very-soft-cyan: #AEE6E6;
    --light-grey: #FBF6F0;
    --light-orange: #FFDA77;
    --orange: #FFA45B;
    --black: #000;
    --white: #FAFAFA;
    --delete: #fC6634;
}

* {
    padding: 0;
    margin: 0;
    border: 0;
    font-family: 'Rubik', sans-serif;
}

body {
    background-color: var(--light-grey);
}

/* navigation */

.my-navbar {
    background-color: var(--light-orange);
    font-size: 1rem;
    border-bottom: 1px solid var(--orange);
}

.my-logo {
    font-size: 2rem;
    color: var(--black);
    font-weight: bold;
    letter-spacing: 0.2rem;
    margin-left: 2.5%;
}

.my-navbar a {
    color: var(--black);
}

.nav-item {
    margin: 0 10px;
    text-align: center;
}

.nav-link {
    color: var(--black);
    letter-spacing: 0.1rem;
}

.nav-link:hover {
    color: var(--orange);
}

.my-burger {
    color: var(--black);
    border: 2px solid var(--black);
    padding: 8px 10px;
    border-radius: 8px;
    font-size: 1.5rem;
    margin-right: 2.5%;
}

/* contents */

.my-container {
    margin-top: 74px;
}

/* https://css-tricks.com/couple-takes-sticky-footer/ */
.content-container {
    min-height: calc(100vh - 134px);
}

.page-title {
    margin-bottom: 20px;
    padding-top: 10px;
}

/* index.html */

/* hero image */
.hero-image {
    height: 83vh;
    background: url("../images/hero-image.jpg") no-repeat center;
    background-size: cover;
    padding: 0;
}

.hero-image-overlay {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(174, 230, 230, 0.2);
}

.hero-image-content {
    text-align: center;
    background-color: rgba(251, 246, 240, 0.75);
    padding: 2%;
    border-radius: 10px;
    max-width: 80%;
}

.hero-image-quote { 
    margin-bottom: 2%;   
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
}

/* about */
.about-card {
    margin-bottom: 20px;
}

.about-icons {
    font-size: 2rem;
    margin-bottom: 8px;
}

/* why */
#why {
    margin-bottom: 20px;
}

.why-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.why-content-box {
    padding: 4%;
    border: 1px solid var(--orange);
    background-color: var(--light-orange);
    border-radius: 5px;
}

.why-content-box p {
    margin: 0;
}

.why-content-pic {
    padding: 0;
}

.why-content-pic img {
    height: 350px;
    width: 100%;
    object-fit: cover;
}

.underline {
    height: 1px;
    width: 60%;
    border-top: 1.75px var(--orange) solid;
    margin: 0 auto 8px;
}

/* recipes.html */

.card {
    border: 1px solid var(--orange);
    background-color: var(--light-orange);
    margin-bottom: 20px;
}

.card-img,
.card-img-top {
    height: 275px;
}

/* view_recipes.html */

.recipe-info-row {   
    width: 100%;
    margin: 0 auto;
}

.recipe-info-card {
    border: 1px solid var(--orange);
    border-radius: 5px;
}

.recipe-info-pic {
    object-fit: cover;
    width: 100%;
    height: 348px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.recipe-info-box {
    background-color: var(--light-orange);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 40px;
}

.recipe-info-box p {
    margin-bottom: 0px;
}

.recipe-info-box:nth-child(1) {
    border-right: 1px solid var(--orange);
    border-bottom: 1px solid var(--orange);
}

.recipe-info-box:nth-child(2) {
    border-bottom: 1px solid var(--orange);
}

.recipe-info-box:nth-child(4) {
    border-left: 1px solid var(--orange);
}

.ingredients-container, 
.method-container {
    margin-top: 20px;
}

.ingredients-container li, 
.method-container li {
    margin-bottom: 8px;
}

/* modals */

.modal-content {
    background-color: var(--light-orange);
    border: 1px solid var(--orange);
}

.modal-header {
    border-bottom: 0;
}

.modal-footer {
    border-top: 0;
}

/* forms */

.my-textarea {
    height: 110px;
    resize: none;
}


/* footer */

#footer {
    background-color: var(--light-orange);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1% 2.5%;
    border-top: 1px solid var(--orange);
    height: 60px;
}

#footer a {
    color: var(--black);
    font-size: 1.5rem;
    padding: 5px;
    margin: 0 10px;
}

#footer a:hover {
    color: var(--orange);
}

/* buttons */

.my-btn {
    background-color: var(--orange);
    border: 1px solid var(--orange);
}

.my-btn:hover {
    background-color: var(--light-orange);
    border: 1px solid var(--orange);
}

.my-clear-btn {
    background-color: var(--very-soft-cyan);
    border: 1px solid #a3d4d4;
}

.my-clear-btn:hover {
    background-color: var(--white);
    border: 1px solid var(--very-soft-cyan);
}

.my-delete-btn {
    background-color: var(--delete);
    border: 1px solid var(--delete);
}

.my-delete-btn:hover {
    background-color: var(--light-orange);
    border: 1px solid var(--delete);
}

/* recipe forms */

.my-form {
    background-color: var(--light-orange);
    padding: 2% 0;
    border: 1px solid var(--orange);
    border-radius: 5px;
    margin-bottom: 20px;
}

.form-link {
    margin-top: 8px;
    margin-bottom: 0;
}

.form-link a {
    font-weight: bold;
}

/* flash messages */

.flash-message {
    padding: 1% 0 0 0;
    text-align: center;
}

.flash-message h3 {
    color: var(--delete);
    margin: 0;
}

/* media queries */

/* max-width lg */
@media only screen and (max-width: 991px) {  
    /* index.html */
    #why {
        margin-bottom: 0px;
    }
    .why-content-box {
        padding: 2.5%;
        margin-bottom: 20px;
    }
}

/* max-width sm */
@media only screen and (max-width: 575px) {
    /* navigation */
    .my-logo {
        margin-left: 1%;
        letter-spacing: 0.1rem;
    }
    .my-burger {
        margin-right: 1%;
    }    
}

/* min-width md */
@media only screen and (min-width: 767px) {
    /* view_recipes.html */
    .recipe-info-card-row{
        height: 100%;
    }
    .recipe-info-card {
        height: 350px;
    }
    .recipe-info-box {
        height: 25%;
    }
    .recipe-info-pic {
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        border-top-right-radius: 0px;
    }
    .recipe-info-box:nth-child(1) {
        border-right: 0;
    }
    .recipe-info-box:not(:last-child) {
    border-bottom: 1px solid var(--orange);
    }
    .recipe-info-box:nth-child(4) {
        border-left: 0;
    }
}