{% extends "base.html" %}
{% block content %}

<h1 class="text-center page-title">edit recipe</h1>

<section class="container-fluid">
    <form class="col-12 col-md-8 offset-md-2 my-form" method="POST" action="{{ url_for('edit_recipe', id=recipe._id) }}">
        <div class="row">
            <div class="col-10 offset-1">
                <div class="mb-3">
                    <label for="recipe_name" class="form-label">recipe name</label>
                    <input value="{{ recipe.recipe_name }}" type="text" id="recipe_name"
                        name="recipe_name" class="form-control" placeholder="" required>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-10 offset-1">
                <div class="mb-3">
                    <label for="recipe_image" class="form-label">recipe image</label>
                    <input value="{{ recipe.recipe_image }}" type="url" id="recipe_image"
                        name="recipe_image" class="form-control" placeholder="">
                </div> 
            </div>
        </div>
        <div class="row">
            <div class="col-5 offset-1">
                <div class="mb-3">
                    <label for="category_name" class="form-label">category</label>
                    <select id="category_name" name="category_name" class="form-control form-select" required>
                        {% for category in categories %}
                            {% if category.category_name == recipe.category_name %}
                                <option value="{{ category.category_name }}" selected>{{ category.category_name }}</option>
                            {% else %}
                                <option value="{{ category.category_name }}">{{ category.category_name }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div> 
            </div>
            <div class="col-5">
                <div class="mb-3">
                    <label for="servings" class="form-label">servings</label>
                    <input value="{{ recipe.servings }}" type="number" id="servings"
                        name="servings" class="form-control" placeholder="" min="1" required>
                </div> 
            </div>
        </div>
        <div class="row">
            <div class="col-5 offset-1">
                <div class="mb-3">
                    <label for="prep_time" class="form-label">prep time</label>
                    <input value="{{ recipe.prep_time }}" type="number" id="prep_time"
                        name="prep_time" class="form-control" placeholder="" min="1" required>
                </div>
            </div>
            <div class="col-5">
                <div class="mb-3">
                    <label for="cook_time" class="form-label">cook time</label>
                    <input value="{{ recipe.cook_time }}" type="number" id="cook_time"
                        name="cook_time" class="form-control" placeholder="" min="1" required>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-10 offset-1">
                <div class="mb-3">
                    <label for="ingredients" class="form-label">ingredients</label>
                    <!-- Stephen https://stackoverflow.com/questions/8627902/how-to-add-a-new-line-in-textarea-element -->
                    <textarea class="form-control my-textarea" id="ingredients" name="ingredients">
                        {%- for ingredient in recipe.ingredients -%}
                            {{ ingredient }}&#10;
                        {%- endfor -%}
                    </textarea>
                </div>    
            </div>
        </div>
        <div class="row">
            <div class="col-10 offset-1">
                <div class="mb-3">
                    <label for="recipe_steps" class="form-label">method</label>
                    <!-- Stephen https://stackoverflow.com/questions/8627902/how-to-add-a-new-line-in-textarea-element -->
                    <textarea class="form-control my-textarea" id="recipe_steps" name="recipe_steps">
                        {%- for step in recipe.recipe_steps -%}
                            {{ step }}&#10;
                        {%- endfor -%}
                    </textarea>
                </div>    
            </div>
        </div>
        <div class="d-flex justify-content-center">
            <a href="{{ url_for('recipes') }}" class="btn my-btn m-2">
                cancel
            </a> 
            <button type="submit" class="btn my-btn m-2">edit</button>
        </div>
    </form>
</section>


        

                          
                

{% endblock %}