{% extends "base.html" %}
{% from "_macros.html" import delete_recipe_modal %}
{% block content %}

<div class="container-fluid">
    <h1 class="text-center page-title">recipes</h1>
    <div class="row">
        {% for recipe in recipes %}
        <div class="col-12 col-md-4 col-lg-3">
            <div class="card">
                <img src="{{ recipe.recipe_image }}" class="card-img-top" alt="{{ recipe.recipe_name }}">
                <div class="card-body">
                    <h5 class="card-title text-center">{{ recipe.recipe_name }}</h5>
                    <div class="d-flex flex-wrap justify-content-center">
                        <a href="{{ url_for('view_recipe', id=recipe._id) }}" class="btn my-btn m-2">
                            view recipe
                        </a>
                        <a href="{{ url_for('edit_recipe', id=recipe._id) }}" class="btn my-btn m-2">
                            edit recipe
                        </a>
                        <!-- delete trigger and modal -->
                        {{ delete_recipe_modal(recipe) }}
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>



{% endblock %}