{% extends "base.html" %}
{% block content %}

    <h1 class="text-center page-title">register</h1>

    <section class="container-fluid">
        <form class="col-12 col-md-8 offset-md-2 my-form" method="POST" action="{{ url_for('register') }}">
            <!-- username -->
            <div class="row">
                <div class="col-10 offset-1">
                    <div class="mb-3">
                        <label for="username" class="form-label">username</label>
                        <input type="text" id="username" name="username" class="form-control"
                            pattern="[A-Za-z0-9]{5,}" required 
                            title="username must be at least 5 characters long and can contain letters and numbers only - no spaces or special characters.">
                    </div>
                </div>
            </div>
            <!-- password -->
            <div class="row">
                <div class="col-10 offset-1">
                    <div class="mb-3">
                        <label for="password" class="form-label">password</label>
                        <input type="password" id="password" name="password" class="form-control" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{5,}"
                            required title="passwords must be at least 5 characters long and contain one number, one lowercase and one uppercase letter.">
                    </div>
                </div>
            </div>
            <!-- confirm password -->
            <div class="row">
                <div class="col-10 offset-1">
                    <div class="mb-3">
                        <label for="confirm-password" class="form-label">confirm password</label>
                        <input type="password" id="confirm-password" name="confirm-password" class="form-control"
                            required title="this password must match the password previously given.">
                    </div>
                </div>
            </div>
            <!-- buttons -->
            <div class="d-flex justify-content-center">
                <a href="{{ url_for('home') }}" class="btn my-clear-btn m-2">
                    cancel
                </a>
                <button type="submit" class="btn my-btn m-2">register</button>
            </div>
            <!-- link for log in -->
            <div class="row">
                <div class="col-10 offset-1 text-center">
                    <p class="form-link">already registered? <a href="{{ url_for('login') }}">log in.</a></p>
                </div>
            </div>
        </form>
    </section>

{% endblock %}