{% extends "base.html" %}
{% block content %}

    <h1 class="text-center page-title">register</h1>

    <section class="container-fluid">
        <form class="col-12 col-md-8 offset-md-2 my-form" method="POST" action="{{ url_for('register') }}">
            <!-- username -->
            <div class="row">
                <div class="col-10 offset-1">
                    <div class="mb-3">
                        <label for="username" class="form-label">username</label>
                        <input type="text" id="username" name="username" class="form-control"
                            pattern="[A-Za-z0-9]{5,}" required 
                            title="Username must be at least 5 characters long and can contain letters and numbers only - no spaces or special characters.">
                    </div>
                </div>
            </div>
            <!-- password -->
            <!-- https://stackoverflow.com/questions/19605150/regex-for-password-must-contain-at-least-eight-characters-at-least-one-number-a -->
            <div class="row">
                <div class="col-10 offset-1">
                    <div class="mb-3">
                        <label for="password" class="form-label">password</label>
                        <div class="input-group">
                            <input type="password" id="password" name="password" class="form-control"
                                pattern="(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{5,}" required 
                                title="Passwords must be at least 5 characters long. They can contain any letter, number and must contain one or more of the following characters - @$!%*#?&">
                            <span class="input-group-text far fa-eye" id="togglePassword"></span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- confirm password -->
            <div class="row">
                <div class="col-10 offset-1">
                    <div class="mb-3">
                        <label for="confirm-password" class="form-label">confirm password</label>
                        <div class="input-group">
                            <input type="password" id="confirm-password" name="confirm-password" class="form-control"
                                required title="This password must match the password previously given.">
                            <span class="input-group-text far fa-eye" id="toggleConfirmPassword"></span>
                        </div>
                        
                    </div>
                </div>
            </div>
            <!-- buttons -->
            <div class="d-flex justify-content-center">
                <a href="{{ url_for('home') }}" class="btn my-clear-btn m-2">cancel</a>
                <button type="submit" class="btn my-btn m-2">register</button>
            </div>
            <!-- link for log in -->
            <div class="row">
                <div class="col-10 offset-1 text-center">
                    <p class="form-link">already registered?
                        <a href="{{ url_for('login') }}"> log in.</a>
                    </p>
                </div>
            </div>
        </form>
    </section>

{% endblock %}