{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}

    <h1 class="text-center page-title">register</h1>

    <section class="container-fluid">
        <form class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2 my-form" method="POST" action="{{ url_for('register') }}">
            {{ form.csrf_token }}
            <!-- username -->
            <div class="row">
                <div class="col-10 offset-1">
                    <div class="mb-3">
                        {{ wtf.form_field(form.username) }}
                        <div class="form-text">username must be at least 5 characters and can contain letters and numbers only.</div>
                    </div>
                </div>
            </div>
            <!-- password -->
            <div class="row">
                <div class="col-10 offset-1">
                    <div class="mb-3">
                        {{ wtf.form_field(form.password) }}
                        <div class="form-text">password must be at least 5 characters long.</div>
                    </div>
                </div>
            </div>
            <!-- confirm password -->
            <div class="row">
                <div class="col-10 offset-1">
                    <div class="mb-3">
                        {{ wtf.form_field(form.confirm_password) }}
                    </div>
                </div>
            </div>
            <!-- buttons -->
            <div class="d-flex justify-content-center">
                <a href="{{ url_for('home') }}" class="btn my-clear-btn m-2">cancel</a>
                <button type="submit" class="btn my-btn m-2">register</button>
            </div>
            <!-- link for log in -->
            <div class="row">
                <div class="col-10 offset-1 text-center">
                    <p class="form-link">already registered?
                        <a href="{{ url_for('login') }}"> log in.</a>
                    </p>
                </div>
            </div>
        </form>
    </section>

{% endblock %}