{% extends "base.html" %}
{% from "_macros.html" import recipe_card %}
{% block content %}

    <div class="container-fluid">
        <h1 class="text-center page-title">{{ username }}'s profile</h1>
        <div class="d-flex flex-wrap justify-content-center">
            <a href="{{ url_for('recipes') }}" class="btn my-btn m-2">
                view all recipes
            </a>
            {% if user_recipes|length > 0 %}
                <a href="{{ url_for('add_recipe') }}" class="btn my-btn m-2">
                    add recipe
                </a>
            {% endif %}
            <a href="" class="btn my-delete-btn m-2">
                delete profile
            </a>      
        </div>
        {% if user_recipes|length > 0 %}
            <h1 class="text-center page-title">my recipes</h1>
        {% endif %}
        <div class="row">
            {% if user_recipes|length > 0 %}
                {% for recipe in user_recipes %}
                    {{ recipe_card(recipe) }}
                {% endfor %}
            {% else %}
                <h2 class="text-center page-title warning-message">
                    you've not added any recipes yet!
                </h2>
                <div class="d-flex flex-wrap justify-content-center">
                    <a href="{{ url_for('add_recipe') }}" class="btn my-btn m-2">
                        add recipe
                    </a>     
                </div>
            {% endif %}
        </div>
    </div>

{% endblock %}