{% extends "base.html" %}
{% block content %}

<div class="container-fluid">
    <h1 class="text-center page-title">{{ username }}'s profile</h1>
    <div class="d-flex flex-wrap justify-content-center">
        <a href="{{ url_for('recipes') }}" class="btn my-btn m-2">
            view recipes
        </a>
        <a href="{{ url_for('add_recipe') }}" class="btn my-btn m-2">
            add recipe
        </a>
        <a href="{{ url_for('logout') }}" class="btn my-btn m-2">
            log out
        </a>      
    </div>
    <div class="row">
        <div class="col-12 col-md-4 col-lg-3">
            
        </div>
    </div>
</div>



{% endblock %}